<!-- Déclaration des routes -->
<header>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <u class="nav navbar-nav">
                <li><a routerLink="/about" >Accueil</a></li>
                <li><a routerLink="/contacts" >Contact</a></li>
                <li><a routerLink="/new-contact" >Nouveau contact</a></li>
                <li>
                    <form class="form-inline" action="">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search">
                      <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </li>
            </u>
        </div>
    </div>
</header>


<router-outlet>

</router-outlet>


